.C {
    margin-top: 4em;
    margin-left: 51em;
}

.tittle {
color: azure;
}

.R{
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin-top: 2%;
    padding: 1em;
    margin: 1em;
    width: 8em; 
}