.E {
margin-top: 5em;
margin-left: 51em;
background-color: blue;
width: 31em;
color: bisque;
}


.U{
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
    margin-top: 2%;
    padding: 1em;
    margin: 1em;
    width: 8em;
    }